.quiz__section {
  background-color: #111729;
  max-width: 492px;
  width: 100%;
  height: 600px;
  padding: 1rem;

  &__top {
    max-width: 442px;
    gap: 0.5rem;
    max-height: 120px;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
    color: #979daf;

    .quiz__section__card {
      width: 200px;
      height: 80px;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      justify-content: center;
      align-items: center;
      background-color: black;
      border-radius: 2rem;
      border: 1px solid white;

      &__title{
        color: white;
        font-size: 1rem;
      }
    }
  }
}
