.btn__verify {
  background-color: rgba(33, 33, 236, 0.576);
}

.btn__hint,
.btn__reset {
  background-color: purple;
}

.btn__skip {
  background-color: #2b2407;
}

.btn__restart {
  background-color: #280f13;
}
